<div id="<%= dom_id tweet %>">
  

    <p class="etiqueta">Username:
    <div class="name"><%= tweet.UserName%></p></div>
    
    <p class="etiqueta">Description:
    <div class="mensaje"><%= tweet.Description %></div>
  </p>

</div>
