<div id="<%= dom_id tweet %>">
  <p>

    <p>
    <strong>Username:</strong>
    <div class="username2">
     <%= tweet.UserName %>
     </div>
  </p>

    <strong>Description:</strong>
    <div class="mensaje">
    <%= tweet.Description %>
    </div>
  </p>

</div>
