<body class= "edit-body">
<h1 class="edit-tweet">Editing Tweet</h1>

<div class="form-edit"><%= render "form", tweet: @tweet%></div>

<br>

<div class="boton-edit">
  <%= link_to "Ver tweet actual", @tweet, class:"ver-tweet" %> |
  <%= link_to "HOME", tweets_path, class:"boton-volver"%>
</div>
</body>