<body class="body-new">
  <h1 class="new-tweet">New Tweet</h1>
  <h4>ingresa tu nuevo tweet, junto a tu username</h4>

  <div class="form-new">
  <%= render "form", tweet: @tweet %>

  <br>

  <div>
    <%= link_to "Volver", tweets_path %>
  </div>
  </div>
</body>